body {
  background-image: url("../images/4BE5E02A-40E8-4AC6-981E-CF09ED8E5B14_1_105_c.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: lightblue;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-attachment: fixed;
}

#container {
  width: 80%;
  background-color: lightblue;
  align-self: center;
  display: block;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 50px;
  box-shadow: 2px 2px 20px 20px black;
}

app-title {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #333;
}

#search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 40%;
  border-radius: 5px;
  outline: none;
  border: 3-x solid steelblue;
}

.notification {
  background-color: white;
  display: none;
}

.notification p {
  color: maroon;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 100%;
  height: 260px;
  background-color: white;
  margin-top: 20px;
}

.weather-icon {
  width: 100%;
  height: 128px;
  padding: 10px;
}

.weather-icon img {
  display: block;
  width: 40px;
  height: 40px;
}

.location-icon {
  width: 100%;
  height: 40px;
  padding: 10px;
}

.location-icon img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  cursor: pointer;
  padding: 5px;
  border: steelblue solid 2px;
  border-radius: 10px;
  color: steelblue;
}

.temperature-value {
  width: 100%;
  height: 60px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: darkgray;
  font-size: 4em;
  text-align: center;
}

.temperature-value span {
  color: darkgrey;
  font-size: 0.5em;
}

.temperature-description p {
  padding: 8px;
  margin: 0;
  color: darkgrey;
  text-align: center;
  font-size: 1.2em;
}

.location p {
  margin: 0;
  padding: 0;
  color: darkgrey;
  text-align: center;
  font-size: 0.8em;
}

div.relative {
  position: absolute;
  top: 600px;
  right: 120px;
}
